body {
  font-family: Garamond;
  margin: 40px;
  background: #A78BFA;
}

header {
  text-align: center;
  margin-bottom: 40px;
  color: black
}

h1 {
  color: black;
}

h2, h3, h4, h5, h6 {
  font-size: 30px;
}

section {
  margin-bottom: 30px;
}

.project {
  background: white;
  padding: 15px;
  border-radius: 6px;
  margin-top: 10px;
}

section {
  margin-bottom: 30px;
}

.education {
  background: white;
  padding: 15px;
  border-radius: 6px;
  margin-top: 10px;
}

.tabs button{
  padding: 10px;
  cursor:pointer
  color: gray;
}

.tab-content{
  display:none;
}

.tab-content.active{
  display:block;
}
